<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kubuy.admin.mapper.AdminMapper">
	<select id="findPageInfo" resultType="Admin">
		select * from tb_admin order by updated desc
		limit #{start},#{length}
	</select>
	
</mapper>